body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#predicted-digit {
    margin-top: 20px;
    font-size: 24px;
}
