<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <script src="../../static/js/script.js" defer></script>
</head>
<body>
    <h1>Digit Recognizer</h1>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="upload-form">
        <input type="file" name="file" id="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    {% if digit %}
    <p>Predicted Digit: {{ digit }}</p>
    {% endif %}
</body>
</html>
