<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <h1>Digit Recognizer</h1>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="upload-form">
        <!-- Use label to create a clickable area for file input -->
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept="image/*">
        <!-- Use button type="submit" inside the form to submit the file -->
        <button type="submit">Upload</button>
    </form>

    <!-- Display error message if any -->
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <!-- Display predicted digit if available -->
    {% if digit %}
    <p>Predicted Digit: {{ digit }}</p>
    {% endif %}
    
    <script src="static/js/script.js" defer></script>
</body>
</html>
