<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognition</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div>
            <h1>Digit Recognition</h1>
            <input type="file" id="image-upload" accept="image/*">
            <button id="clear-prediction">Clear Prediction</button>
            <button id="refresh-prediction">Refresh Prediction</button>
        </div>
        <div id="predicted-digit">Predicted Digit: </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
